* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.logo {
    vertical-align: middle;
}

nav.container-header {
    padding: 30px;  
}

ul.menu-left li{
    margin-left: 40px;
    vertical-align: middle;
}

ul.menu-right li{
    margin-right: 40px;
    vertical-align: middle;
}

ul .button-inizia {
    padding: 8px 20px;
    background-color: rgb(101, 167, 241);
    color: white;
    border: none;
    vertical-align: middle;
}

.jumbotron {
    background-color: rgb(199, 219, 243);
}


div.container-jumbotron {
    width: 80%;
    margin: 0 auto;
    max-height: 580px;
}

h1.title-jumbotron {
    font-size: 5em;
}

div.text-jumbotron {
    width: 30%;
}

div.img-jambotron {
    width: 60%;
}

section.jumbotron p.description-jumbotron {
    line-height: 25px;
    padding-bottom: 20px;
}

.button {
    padding: 12px 20px;
    background-color: rgb(14, 95, 247);
    color: white;
    border: none;
    font-size: 1.1em;
}

i.fas {
    padding: 20px 0;
    font-size: 40px;
}

section.jumbotron div.img-jambotron {
    background-image: url(../img/jumbo.png);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 60%;
    left: 531px;
    top: -300px;
}

#text-annulla {
    font-size: .9em;
    padding: 15px 0;
}

main section.dimension-section {
    width: 70%;
    margin: 0 auto;
}

h2.title-section {
    padding-top: 180px;
    font-size: 3em;
}