* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


ul {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
}

header li {
    display: inline-block;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}


nav.container-header {
    padding: 30px;  
}

ul.menu-left li{
    margin-left: 40px;
    vertical-align: middle;
}

ul.menu-right li{
    margin-right: 40px;
    vertical-align: middle;
}

ul .button-inizia {
    padding: 8px 20px;
    background-color: rgb(23, 91, 238);
    color: white;
    border: none;
    vertical-align: middle;
}

.jumbotron {
    background-color: rgb(198, 223, 243);
}


div.container-jumbotron {
    width: 80%;
    margin: 0 auto;
    max-height: 860px;
}

h1.title-jumbotron {
    font-size: 5em;
    padding-bottom: 70px;
    padding-top: 70px;
}

div.text-jumbotron {
    width: 25%;
}


section.jumbotron p.description-jumbotron {
    line-height: 25px;
    padding-bottom: 20px;
}

.button {
    max-width: 340px;
    padding: 12px 24px;
    background-color: rgb(15, 87, 221);
    color: white;
    border: none;
    font-size: 1.1em;
    margin-top: 15px;
}

i.freccia {
    padding: 20px 0;
    font-size: 40px;
}

section.jumbotron .dimention-img-jb {
    max-width: 70%;
    padding-left: 20px;
}


#text-annulla {
    font-size: .9em;
    padding: 15px 0;
}

.dimension-section {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
}


h2.title-section {
    padding-top: 250px;
    font-size: 3em;
    padding-bottom: 50px;
}

.radio {
    padding-right: 20px;
    padding-left: 5px;
}

/* prima colonna aside*/

ul a,
div a.color-link {
    color: rgb(14, 95, 247);
}

header ul a {
    color:black;
}

.aside-center {
    margin: 30px 67px;
}

aside.aside .column {
    padding-left: 30px;
    padding-right: 23px;
}



aside.aside {
    width: 30%;
    min-height: 1000px;
    margin-top: 30px;
    border: 1px solid lightgray;
}

.title-header-aside {
    font-weight: 500;
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid lightgray;
}

.man {
    filter: invert(.9);
}

.padding-icone {
    padding-right: 7px;
}


.title-main-aside {
    font-weight: 700;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.price-main-aside {
    font-weight: 700;
    padding-right: 15px;
    padding-bottom: 20px;
}

.cadence-price-aside {
    color: rgb(133, 131, 131);
    padding-bottom: 30px;
}

.text-aside,
.text-section-enterprise {
    font-size: .9em;
    padding: 15px 15px 15px 0px;
}

.linea {
    width: 50px;
    border-top: 1px solid rgb(167, 165, 165);
    margin-top: 20px;
}

.title-main-botton,
.info-enterprise {
    font-size: .9em;
    padding-top: 35px;
    padding-bottom: 20px;
}

.color-icon {
    color: rgb(14, 95, 247);
}

section.column li {
    line-height: 20px;
}

/* sezione dimension enterprise */

section.dimension-enterprise {
    border: 1px solid lightgray;
}

.border {    
border: 1px solid lightgray;
}

section.enterprise {
    padding-left: 35px;
    margin-bottom: 20px;
    padding-bottom: 25px;
}

.text-enterprise {
    padding-top: 35px;
    padding-right: 40px;
}

section h5 {
    display: inline-block;
    vertical-align: middle;
}

.button-contatta {
    padding-top: 20px;
}

.title-section-enterprise,
.title-section-partner {
    font-weight: 700;
    font-size: 1.7em;
    padding-top: 13px;
    padding-bottom: 20px;
}

/* sezione partner */

img.img-partner {
        max-width: 55%;
        padding-top: 150px;
}

div.content-img-partner {
    max-width: 42%;
    padding-top: 180px;
    padding-left: 80px;
}

.text-img-partner,
.text-img-coll {
    line-height: 30px;
    font-weight: 600;
    font-size: 1.1em;
}

.button-partner {
    width: 165px;
    border: 1px solid black;
    padding: 15px;
    margin-top: 20px;
    font-size: 1.1em;
    background-color: white;
}

/* quarta sezione */

section.partner h2 {
    font-size: 3em;
    padding-top: 100px;
}

.coll-center {
    margin: 0 67px;
}

div.contain-coll {
    max-width: 30%;
    padding-top: 50px;
}


div.coll>.img-coll {
    max-width: 400px;
}

span.underline {
    text-decoration: underline;
}


/* quinta sezione  */



.section-team-top {
    max-width: 65%;
}

.container-customers {
    width: 30%;
}

.contain-logo {
    width: 50%;
    height: 250px;
    position: relative;
}


.logo {
    position: absolute;
    top: 106px;
    left: 69px;
    width: 50%;
    filter: invert(1);
}

.logo-arizona {
    position: absolute;
    top: 68px;
    left: 78px;
    width: 50%;
    filter: invert(1);
}

.logo-topps {
    position: absolute;
    top: 79px;
    left: 74px;
    width: 50%;
    filter: invert(1);
}

.logo-hearst {
    position: absolute;
    top: 130px;
    left: 76px;
    width: 50%;
    filter: invert(1);
}

.logo-lonely {
    position: absolute;
    top: 84px;
    left: 76px;
    width: 50%;
    filter: invert(1);
}

.logo-channel {
    position: absolute;
    top: 84px;
    left: 76px;
    width: 50%;
    filter: invert(1);
}


.bg-green {
    background-color: rgb(179, 243, 213); 
}

.bg-brown {
    background-color: rgb(104, 28, 28);
}

.bg-blue {
    background-color: rgb(71, 137, 199);
}

.bg-red {
    background-color: red;
}

.bg-dark-red {
    background-color: rgb(190, 3, 3);
}

.bg-light-blue {
    background-color: rgb(199, 219, 243);
}

.bg-dark-blue {
    background-color: rgb(7, 51, 133);
}

.bg-yeallow {
    background-color: rgb(235, 205, 39);
}

.logo-designit {
    width: 180px;
    padding-bottom: 50px;
}

div.text-contain-prinse {
    width: 40%;
    min-height: 500px;
    padding: 50px 60px;
    background-color: rgb(235, 233, 233);
}

.text-img-coll {
    padding-top: 35px;
    padding-bottom: 20px;
}

h2.section-free-trial {
    max-width: 700px;
    color: rgb(122, 33, 33);
    font-size: 3em;
    padding-bottom: 50px;
    padding-left: 50px;
    vertical-align: middle;
    margin-top: 130px;
}

.button-contatta-prova {
    margin-top: 165px;
    margin-right: 50px;
    background-color: white;
    color: black;
}

.text-title-questions {
    font-size: 2em;
    padding-top: 200px;
    padding-bottom: 50px; 
}


div.questions p {
    display: inline-block;
}

div.questions {
    font-size: 1.1em;
    font-weight: 700;
    padding: 50px 35px 20px 0;
}

hr {
    border-color: rgb(111 111 111 / 15%);
}

/* area footer  */

.contain-footer {
    width: 70%;
    margin: 0 auto;
}

div.dropbox {
    margin-top: 80px;
    margin-left: 170px;
    padding-bottom: 100px;
    background-color: black;
    color: white;
}


div.dropbox h4 {
    font-size: 1.2em;
    padding-bottom: 25px;
}

li.indicizzazione {
    line-height: 28px;
}

.bg-black {
    background-color: black;
}

footer ul a {
    color: white;
    text-decoration: none;
}

div.linea-footer {
    width: 120px;
    margin-left: 170px;
    padding-bottom: 100px;
    background-color: black;
    color: white;
}

.text-italian {
    margin-left: 170px;
    padding-bottom: 100px;
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    font-size: .8em;
}

div.text-italian i.fa-globe-americas {
    padding: 0 10px 0 0;
}

div.text-italian i.fa-caret-up {
    padding: 0 0 0 10px;
}

